<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>Page Not Found</title>
        <link rel = "stylesheet" href= "./css/styles.css">
        <link rel = "icon" href= "/img/deloitteIcon.jpg">
    </head>

    <body>
        <div class = "main-content"> 
            {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
            <p>{{error}}</p>
            {{!-- <h1>This web app helps out with weather forecasting</h1> --}}
            {{!-- <img src = "./img/deloitteLogo.png"> --}}
        </div>
        {{>footer}}
    </body>

</html>