<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>About Page</title>
        <link rel = "stylesheet" href= "./css/styles.css">
        <link rel = "icon" href= "/img/deloitteIcon.jpg">
    </head>

    <body>
        <div class = "main-content">
            {{>header}}
            <p>This app was created by Chuks Oti. It uses data from Maobox.com</p>
            {{!-- <h1>{{title}}</h1> --}}
            {{!-- <p>Created by {{name}}</p>
            <h1>This web app  --}}
            {{!-- <img src = "./img/deloitteLogo.png"> --}}
        </div>
        {{>footer}}
    </body>

</html>