<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>Help Page</title>
        <link rel = "stylesheet" href= "./css/styles.css">
        <link rel = "icon" href= "/img/deloitteIcon.jpg">
    </head>

    <body>
        <div class = "main-content"> 
            {{>header}}
            {{!-- <h1>All the help you need is right here</h1> --}}
            <P>{{helpText}}</P>
        </div>
        {{>footer}}
    </body>

</html>