<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>PRF Web App Home</title>
        <link rel = "stylesheet" href= "./css/styles.css">
        <link rel = "icon" href= "/img/deloitteIcon.jpg">
    </head>

    <body>
        <div class = "main-content">
            {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
            <p>Use this site to get your weather</p>
            <form>
                <input placeholder = "Enter your search item here">
                <button>Send</button>
            </form>
            <p id = "message-1"></p>
            <p id = "message-2"></p>
        </div>
        {{>footer}}
        <script src = "./js/app.js"></script>
    </body>

</html>